nav {
    background: rgba(0, 0, 0, 0.3);
    width: max-content;
    display: block;
    padding: 0.7rem 1.7rem;
    z-index: fixed;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 2rem;
    display: flex;
    gap: 0.8rem;
    border-radius: 3rem;
    backdrop-filter: blur(15px);
}

nav a {
    background: transparent;
    padding: 0.9rem;
    border-radius: 50%;
    display: flex;
    color: var(--color-light);
    font-size: 1.1rem;
}

nav a:hover{
    background: rgba(0, 0, 0, 0.3);
}

nav a.active {
    background: var(--color-primary);
    color: var(--color-bg);
}


.videofondo{
    position: absolute;
    width:auto;
    left: 50%;
    top: 40%;
    height:auto;
    object-fit: cover;
    transform: translate(-50%, -50%);
    z-index: -1;
    padding: none;
    filter: blur(3px);
}

.fondo{
    position: absolute;
    width:auto;
    left: 50%;
    top: 40%;
    height:120%;
    object-fit: cover;
    transform: translate(-50%, -50%);
    z-index: -1;
    padding: none;
}


/* ============== MEDIA QUERIES (MEDIUM DEVICES) ================== */

@media screen and (max-width: 1024px) {
    
    .fondo{
    height:100%;
    top: 50%;
    }
 }
 
 /* ============== MEDIA QUERIES (SMALL DEVICES) ================== */
 
 @media screen and (max-width: 600px) {
     
 }